# Grav Specific
.sass-cache
cache/*
assets/*
logs/*
images/*

user/plugins/admin
user/plugins/autoseo
user/plugins/email
user/plugins/data-manager
user/plugins/devtools
user/plugins/error
user/plugins/login
user/plugins/markdown-notices
user/plugins/pagination
user/plugins/problem
user/plugins/sitemap
user/plugins/simplesearch
!/user/plugins/gantry5/
!/user/plugins/ampimage/
!/user/plugins/ganalytics/
!user/plugins/form/templates/forms/default/form.html.twig
user/plugins/form
user/themes/g5_helium

user/data/application-form
user/data/contact-form
user/data/application-files

vendor/*
tmp/*
user/data/gantry5/themes/g5_helium/css-compiled
capistrano.log

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
.vscode/*