# Grav Specific
.sass-cache
cache/*

assets/*
logs/*
images/*

user/plugins/*
user/themes
vendor/*
tmp/*
user/data/gantry5/themes/g5_helium/css-compiled
capistrano.log

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
.vscode/*