.g-title-dh{
    font-family: "Tahoma";
    font-size: 40px;
    font-weight: bold;
    color: blue;

}

.img-homestay-dh{
    width: 1000px;

}
.desc_style{
    font-size: 15px;
    font-style: italic;
    text-align: center;

}