// Google Fonts

// Colors

$font-family-custom-nav: "Oswald", "Lato", "Helvetica", "Tahoma", "Geneva", "Arial", "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !default;
$font-family-custom-header: "Sarpanch", "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !default;
$font-family-custom-title: "Oswald", "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !default;

// REQUIRED DEPENDENCIES - DO NOT CHANGE
@import "custom_configuration/base";
@import "dependencies";
@import "custom_helium";
//-------------------------------------------

//-------------------------------------------
// PARTICLES STYLING

// .carousel-slide {
//   width: 100%;
//   height: 100%;
// }
