#grav-login{
    max-width: 34em !important;
}
form{
    text-align: left;
    label, .form-label{
        font-weight: 550;
    }
    .form-field{
        margin-bottom: 15px;
    }
}
.button {
border-radius: 15px !important;
 }
 .secondary-accent{
     
    .secondary{
   
        width: 34em;
        text-align: center;
    }
    .primary{
        width: 34em;
        text-align: center;
      }
     
 }
 
