.custom_service{
    text-align: center;
    a{
        color: #424753 !important;
    }
    a:hover{
        color: #4db2b3 !important;
    }
 
        .card-title{
            text-align: center;
            font-size: 1.5em !important;
            font-weight: 250 !important;
        }
    }
